.patient__frame {
  display: flex;
  flex: 1;
  height: 100vh;
}

.patient__layout {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 744px;
  width: 100%;
}

.patient__sidebar {
  display: flex;
  flex: initial;
  min-height: 0;
}

.patient__context-trail {
  background: #{$white};
  color: #{$black-20};
  line-height: 1;

  // NOTE: Margin added for alignment with sidebar icon & patient name.
  margin-bottom: 6px;
  padding: 16px 24px;
  position: sticky;
  top: 0;
  z-index: var(--z-positioned);

  .icon {
    color: #{$black-60};
    font-size: 12px;
    margin-right: 8px;
    vertical-align: -0.0825em;
  }
}

.patient__context-link {
  color: #{$black-60};
  cursor: pointer;
  font-weight: 600;
  margin-right: 8px;

  &:hover {
    color: color(blue);
  }
}

.patient__tabs {
  padding: 0 24px;
}

.patient__tab,
.patient__tab--selected {
  display: inline-block;
  font-size: 24px;
  line-height: 1;
  margin-right: 4px;
  padding: 0 16px 16px;
}

.patient__tab--selected {
  color: color(blue);
  position: relative;

  &::before {
    background: color(blue);
    border-radius: 2px 2px 0 0;
    bottom: 0;
    content: ' ';
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
  }
}

.patient__tab {
  color: #{$black-60};

  &:hover {
    color: color(blue);
  }
}

.patient__actions-container {
  padding: 0 24px;
}

.patient__actions {
  border-top: 1px solid #{$black-90};
  padding: 16px 0;
}

.patient__table-list {
  grid-template-columns:
    60px
    minmax(100px, 40%)
    minmax(max-content, auto)
    minmax(max-content, 84px);
}

.patient__action-ts {
  font-size: 12px;
  text-align: right;
}

.patient__action-icon {
  color: color(blue);
}

.patient__flow-icon .icon {
  color: #{$black-60};
}

.patient__action-display-icon {
  color: #{$black-60};
  margin-left: 8px;
}

.patient__action-display-icon-text {
  margin: 0 8px 0 4px;
}

.patient__flow-status {
  border: 1px solid transparent;
  display: inline-block;
  padding: 0 8px;
  vertical-align: middle;
}

.patient__flow-progress {
  width: 72px;
}
