.fill-window {
  inset: 0;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  z-index: var(--z-overlay);

}

.fill-window__content {
  pointer-events: all;
}

@keyframes darken {
  from {
    background: rgb(0 0 0 / 0%);
  }

  to {
    background: rgb(0 0 0 / 70%);
  }
}

.fill-window--dark {
  &.is-shown {
    animation: darken 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    pointer-events: all;
  }
}
