.form-input {
  border: 1px solid #{$black-90};
  border-radius: 4px;

  &::placeholder {
    color: #{$black-60};
  }

  &:hover:enabled {
    border-color: #{$black-60};
  }

  &:focus {
    border-color: color(blue);
    box-shadow: 0 0 8px rgb(color(blue, 'dark'), 0.3);
  }

  &.is-disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.has-error {
    border-color: #{$error-color};
  }
}

.form-input--primary {
  font-size: 16px;
  font-weight: 600;
  padding: 8px 16px;
}

.form-input--secondary {
  font-size: 14px;
  padding: 8px 16px;
}

.form-input--small {
  font-size: 14px;
  padding: 4px 8px;
}

@media (pointer: coarse) {
  .form-input {
    font-size: 16px;
  }
}

.form-error {
  color: #{$error-color};
  font-size: 12px;
}
