.select-wrapper {
  border: 1px solid $black-90;
  border-radius: 4px;
  display: inline-block;

  &:has(:focus-visible) {
    outline: 1px solid color(blue);
  }
}

.select {
  border: none;
  border-radius: 4px;
  color: $black-40;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 20px 12px 12px;

  &:focus-visible {
    outline: 0;
  }
}
