.table-list {
  display: grid;
  flex: 1 1 auto;

  /* grid-template-columns: Each page/component should define its own  */
  grid-template-rows: auto 1fr;
  min-height: 0;
}

.table-list__header,
.table-list__list,
.table-list__item {
  column-gap: 16px;
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
}

.table-list__header {
  border-bottom: 1px solid #{$black-90};
  color: #{$black-60};
  font-size: 12px;
  grid-row: 1;
  padding: 8px;
}

.table-list__list {
  grid-auto-rows: min-content;
  grid-row: 2;
}

.table-list__item {
  align-items: center;
  align-self: start;
  border-bottom: 1px solid #{$black-90};
  cursor: pointer;
  padding: 12px 8px;

  &:hover:not(.is-selected) {
    background-color: color(light_blue, light);
  }

  &.is-selected {
    background-color: #{$greyed};
  }

  .table-list.is-dragging & {
    background: #{$white};

    &.sortable-ghost {
      background: color(light_blue, light);
    }

    &.is-selected:not(.sortable-ghost) {
      background-color: #{$greyed};
    }
  }
}

.table-list__cell--empty {
  color: #{$black-60};
}

.table-list__item-check {
  width: 20px;
}

.table-list__icon .icon {
  color: #{$black-60};
  display: inline-block;
  vertical-align: top;
  width: 16px;
}

.table-list__icon--large .icon {
  display: inline-block;
  font-size: 20px;
  margin-right: 16px;
  vertical-align: top;
  width: 20px;
}

.table-list__meta {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
  overflow-x: visible;
  white-space: nowrap;
}

.table-list__empty-list {
  color: #{$black-80};
  font-size: 16px;
  font-weight: 600;
  grid-column: 1 / -1;
  margin: 40px auto 20px;
  padding: 20px;
  text-align: center;
}
