.textarea-flex {
  position: relative;
}

.textarea-flex__input {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  resize: none;
  top: 0;
  width: 100%;
}

.textarea-flex__mirror {
  height: auto;
  overflow-wrap: break-word;
  resize: none;
  visibility: hidden;
  white-space: pre-wrap;
}

.textarea-flex__input--plain,
.textarea-flex__mirror--plain {
  border: 0;
  border-radius: 0;
  min-height: 20px;
  padding: 0;
}

.textarea-flex__input--plain:hover,
.textarea-flex__input--plain:focus,
.textarea-flex__mirror--plain:hover,
.textarea-flex__mirror--plain:focus {
  border: 0;
  box-shadow: none;
}
