.clinician-state--disabled {
  color: color(red);
  font-weight: bold;
}

.clinician-state--pending {
  color: color(orange);
  font-weight: bold;
}

.clinician-state--active {
  color: color(green);
  font-weight: bold;
}
