.program-flow__header {
  cursor: pointer;
  margin: 0 24px;
  padding: 8px 0 16px;

  &:hover:not(.is-selected) {
    background-color: color(light_blue, light);
  }

  &.is-selected {
    background-color: #{$greyed};
  }
}

.program-flow__name {
  font-size: 24px;
  margin-bottom: 16px;

  .icon {
    color: #{$black-60};
    font-size: 20px;
    margin-right: 8px;
    vertical-align: bottom;
  }
}

.program-flow__details {
  color: #{$black-60};
  display: inline-block;
  font-size: 14px;
  margin-right: 16px;
  vertical-align: top;

  /* 60 - 16px */
  width: calc(40% + 44px);
}

.program-flow__meta {
  margin-right: 8px;
}

.program-flow__actions {
  border-top: #{$black-90} 1px solid;
  margin: 0 24px;
  padding: 16px 0;
}

.program-flow__action-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.program-flow__action-item {
  --program-flow-sort-handle-display: none;
}

.program-flow__list {
  height: 100%;
  min-height: 0;
  overflow: hidden auto;
  width: var(--content-expanded-width);
}


.program-flow__sort-handle {
  cursor: move;
  display: var(--program-flow-sort-handle-display);
}

.program-flow__list--draggable .program-flow__action-item:hover {
  --program-flow-sort-handle-display: flex;
}

.program-flow__list--dragging .program-flow__action-item:not(.program-flow__action-item--ghost) {
  --program-flow-sort-handle-display: none;
}
