.patient-search__modal {
  width: 700px;
}

.patient-search__picklist {
  display: flex;
  flex-direction: column;
  height: 460px;
}

.patient-search__close {
  position: absolute;
  right: 16px;
  top: 24px;
  z-index: var(--z-positioned);

  .icon {
    font-size: 20px;
  }
}

.patient-search__input {
  border: none;
  display: flex;
  font-size: 24px;
  font-weight: normal;

  // height = line-height: 1.2
  height: 28px;
  padding-right: 24px;
  width: 100%;

  &:focus {
    box-shadow: none;
  }
}

.patient-search__header {
  border-bottom: 1px solid #{$black-90};
  margin: 0 8px;
  padding-left: 16px;
}

.patient-search__picklist-header {
  align-items: center;
  color: #{$black-60};
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  padding: 8px 20px 4px;

  &.is-hidden {
    display: none;
  }
}

.patient-search__picklist-header-name-icon {
  margin-right: 16px;
  width: 28px;
}

.patient-search__picklist-header-name-text {
  flex: 1;
}

.patient-search__picklist-header-meta {
  display: flex;
  flex: 1;
}

.patient-search__picklist-header-dob {
  width: 100px;
}

.patient-search__picklist-header-results,
.patient-search__picklist-header-results-label,
.patient-search__picklist-header-status {
  margin-left: 12px;
  width: 100px;
}

.patient-search__picklist-item {
  align-items: center;
  color: #{$black-20};
  cursor: pointer;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  padding: 4px 20px;

  &.is-inactive {
    color: #{$black-60};
    font-style: italic;

    .patient-search__picklist-item-result-label {
      font-style: normal;
    }
  }

  &.is-highlighted,
  &:hover {
    background-color: color(blue);
    color: #{$white};

    .patient-search__picklist-item-meta,
    .patient-search__picklist-item-result-label {
      color: #{$white};
    }
  }
}

.patient-search__picklist-item-meta:empty::before {
  color: #{$black-60};

  // &ndash;
  content: '–';
}

.patient-search__picklist-item-name-icon {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 16px;
  width: 28px;
}

.patient-search__picklist-item-name-text {
  display: flex;
  flex: 1;
  margin-right: 8px;
  min-width: 0;
  text-transform: uppercase;
}

.patient-search__picklist-item-meta {
  display: flex;
  flex: 1;
}

.patient-search__picklist-item-dob {
  width: 100px;
}

.patient-search__picklist-item-status {
  margin-left: 12px;
  text-transform: capitalize;
  width: 100px;
}

.patient-search__picklist-item-result-value {
  margin-left: 12px;
  width: 100px;
}

.patient-search__picklist-item-result-label {
  color: #{$black-60};
  margin-left: 12px;
  width: 100px;
}

.patient-search__no-results {
  color: #{$black-60};
  font-size: 14px;
  font-style: normal;
  margin: 0 8px;
  padding: 16px 0;
  text-align: center;
}

.patient-search__add {
  background: transparent;
  border: 0;
  color: color(blue);
  cursor: pointer;
  font: inherit;
  padding: 0;

  &:hover,
  &:focus {
    color: color(blue, dark);
  }
}

.patient-search__tip {
  border-bottom: 1px solid #{$black-90};
  padding-bottom: 16px;
  padding-left: 60px;
  text-align: left;
}

.patient-search__search-by {
  padding: 16px 0;
  padding-left: 60px;
  text-align: left;
}

.patient-search__search-by-title {
  font-size: 12px;
  font-weight: 600;
}

.patient-search__search-by-label {
  background-color: color(light_blue, light);
  border-radius: 4px;
  color: #{$black-20};
  display: inline-block;
  font-weight: 600;
  margin-right: 8px;
  padding: 4px 12px;
}

.patient-search__shortcut {
  bottom: 0;
  left: 0;
  margin-bottom: 24px;
  position: absolute;
  right: 0;
  text-align: center;
  width: 100%;
}

@media (width <= 720px) {
  .patient-search__modal {
    height: 100%;
  }

  .patient-search__picklist {
    height: 100vh;
  }
}
