.workflows__tab--selected {
  color: color(blue);
  display: inline-block;
  font-size: 24px;
  line-height: 1;
  margin-left: 24px;
  margin-right: 4px;
  padding: 0 16px 16px;
  position: relative;

  &::before {
    background: color(blue);
    border-radius: 2px 2px 0 0;
    bottom: 0;
    content: ' ';
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
  }
}

.workflows__actions {
  border-top: 1px solid #{$black-90};
  margin: 0 24px;
  padding: 16px 0;
}

.workflows__table-list {
  grid-template-columns:
    minmax(200px, 2fr)
    minmax(240px, 2.5fr)
    minmax(120px, 1fr);
}

.workflows__flow-icon .icon {
  color: #{$black-60};
}

.workflows__action-icon {
  color: color(blue);
}

.workflows__item-ts {
  font-size: 12px;
  text-align: right;
}

.workflows__flow-status {
  border: 1px solid rgb(0 0 0 / 0%);
  padding: 0 8px;
}

.workflows-action--draft .icon{
  vertical-align: top;
}

.workflows-action--published,
.workflows-action--automated {
  color: color(green);
}
