.workflows__tab {
  display: inline-block;
  font-size: 24px;
  line-height: 1;
  margin-left: 24px;
  margin-right: 4px;
  padding: 0 16px 16px;
  position: relative;
}

.workflows__tab--selected {
  color: color(blue);

  &::before {
    background: color(blue);
    border-radius: 2px 2px 0 0;
    bottom: 0;
    content: ' ';
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
  }
}

.workflows__actions {
  border-top: 1px solid #{$black-90};
  margin: 0 24px;
  padding: 16px 0;
}

.workflows__list {
  height: 100%;
  min-height: 0;
  overflow: hidden auto;
  width: var(--content-expanded-width);
}

.workflows__action-controls,
.workflows__flow-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.workflows__arrow {
  font-size: 12px;
  vertical-align: -0.125em;
}

.workflows__flow-status {
  border: 1px solid rgb(0 0 0 / 0%);
  padding: 0 8px;
}

.workflows__flow-state--draft .icon {
  vertical-align: top;
}

.workflows__flow-state--published,
.workflows__flow-state--automated {
  color: color(green);
}
