.programs-list__table-list {
  grid-template-columns:
    minmax(min-content, 2fr)
    minmax(120px, 1fr)
    minmax(160px, 1fr);
}

.programs-list__published {
  color: #{$black};
  font-weight: 600;

  &.is-published {
    color: color(green);
  }

  .icon {
    margin-right: 4px;
  }
}

.programs-list__updated-ts {
  font-size: 12px;
}
