.list-search__container {
  max-width: 100%;
  position: relative;
  width: var(--list-search-width, 212px);

  &.is-applied {
    .icon {
      color: #{$white};
    }
  }
}

.list-search__search-icon {
  left: 12px;
  line-height: 24px;
  position: absolute;
  top: 4px;
}

.list-search__clear-icon {
  color: #{$black-60};
  cursor: pointer;
  line-height: 24px;
  position: absolute;
  right: 8px;
  top: 4px;

  &.is-hidden {
    display: none;
  }
}

.list-search__input {
  background: var(--color-surface);
  border: 0.5px solid var(--color-border-subtle);
  border-radius: 16px;
  box-shadow: 0 1px 1px rgb(0 0 0 / 20%);
  height: 32px;
  line-height: 24px;
  padding: 4px 32px 4px 36px;

  .is-applied & {
    background-color: color(blue);
    border: 1px solid color(blue);
    color: #{$white};
  }

  &::placeholder {
    color: #{$black-20};
  }
}
