.program-action-state--automated,
.program-action-state--standard,
.program-action-state--conditional {
  color: color(green);
  font-weight: bold;
}

.program-action-state--disabled.program-action-state--automated,
.program-action-state--disabled.program-action-state--standard {
  color: #{$black-80};
}
