.program-page__frame {
  display: flex;
  flex: 1;
}

.program-page__layout {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
}

.program-page__sidebar {
  display: flex;
  flex: initial;
  max-width: 400px;
  min-height: 0;
  min-width: 256px;
}

.program-page__context-trail {
  background: var(--color-page-bg);
  color: #{$black-20};
  line-height: 1;
  padding: 16px 24px;
  position: sticky;
  top: 0;
  z-index: var(--z-positioned);

  .icon {
    color: #{$black-60};
    font-size: 12px;
    margin-right: 8px;
    vertical-align: -0.0825em;
  }
}

.program-page__context-trail--compact {
  padding-bottom: 8px;
}

.program-page__context-link {
  background: transparent;
  border: 0;
  color: #{$black-60};
  cursor: pointer;
  font: inherit;
  font-weight: 600;
  margin-right: 8px;
  padding: 0;

  &:hover {
    color: color(blue);
  }
}
