.action-state {
  align-items: center;
  display: inline-flex;
  font-weight: 600;
}

.action-state--red {
  color: color(red);
}

.action-state--black {
  color: #{$black-20};
}

.action-state--green {
  color: color(green);
}

.action-state--orange {
  color: color(orange);
}

.action-state--purple {
  color: color(purple);
}

.action-state--grey {
  color: #{$black-60};
}
