.opt-in__heading-text {
  font-size: 20px;
  margin-bottom: 32px;
}

.opt-in__field {
  margin-bottom: 16px;
}

.opt-in__field-label {
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

.opt-in__field-input {
  color: $black-20;
  display: block;
  padding: 12px 16px;
  width: 100%;
}

.opt-in__field-select {
  border: 1px solid $black-90;
  border-radius: 4px;
  display: inline-block;

  &:has(:focus-visible) {
    outline: 1px solid color(blue);
  }
}

.opt-in__field-select select {
  border: none;
  border-radius: 4px;
  color: $black-40;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 20px 12px 12px;

  &:focus-visible {
    outline: 0;
  }
}

.opt-in__disclaimer {
  font-size: 14px;
  margin-top: 32px;
}

.opt-in__submit {
  height: 40px;
  margin-top: 16px;
}
