// Text alignment
// -----------------------------------------------------------

@use '../provider-variables' as *;

.u-text-align--center { text-align: center !important; }
.u-text-align--left { text-align: left !important; }
.u-text-align--right { text-align: right !important; }

.u-text--overflow {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.u-text--overflow-two-lines {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
}

.u-text--nowrap {
  white-space: nowrap !important;
}

.u-text--user-select {
  user-select: none;
}

.u-text-link {
  color: color(blue);
  cursor: pointer;
}

.u-text--italic {
  font-style: italic;
}
