// Typography
// -----------------------------------------------------------

@use '../provider-variables' as *;

body {
  color: #{$black-20};
  font-family: Figtree, 'Droid Sans', 'helvetica neue', arial, sans-serif;
  font-feature-settings: 'ss02' 1;
  font-size: 14px;
  line-height: 20px;
}
