.schedule__list-search {
  margin-left: auto;
}

.schedule__table-list {
  grid-template-columns:
    minmax(max-content, 0.4fr)
    minmax(max-content, 0.6fr)
    32px
    0.7fr
    2fr
    32px
    68px;
}

.schedule__count {
  align-items: center;
  color: #{$black-60};
  display: flex;
  font-size: 12px;
  line-height: 1.2;
  margin-right: 24px;
  white-space: nowrap;
}

.schedule__list-header {
  column-gap: 8px;
}

.schedule-list__header-span-2 {
  grid-column: span 2;
}

.schedule-list__list {
  column-gap: 0;
}

.schedule-list__list-row {
  display: contents;
}

.schedule-list__list-cell {
  border-bottom: 1px solid #{$black-90};
  padding: 8px 0;
}

.schedule-list__date {
  border-radius: 20px;
  display: inline-block;
  font-size: 24px;
  height: 40px;
  line-height: 40px;
  margin-right: 4px;
  text-align: center;
  width: 40px;

  &.is-today {
    background: color(blue);
    color: #{$white};
  }
}

.schedule-list__month-day {
  color: #{$black-60};
  padding: 0 24px 0 4px;
}

.schedule-list__day-list {
  align-items: center;
  column-gap: 8px;
  display: grid;
  grid-column: 2 / 8;
  grid-template-columns: subgrid;
}

.schedule-list__day-list-row {
  cursor: pointer;
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
  padding: 4px;

  &.is-selected {
    background: #{$greyed};
  }

  &:hover {
    .schedule-list__patient-sidebar-icon {
      color: #{$black-20};
    }
  }

  &:hover:not(.is-selected) {
    background-color: color(light_blue, light);
  }
}

.schedule-list__due-time {
  display: flex;

  &.is-overdue {
    color: color(red);
  }
}

.schedule-list__check {
  margin-right: 8px;
  width: 20px;
}

.schedule-list__action-meta {
  display: flex;
}

.schedule-list__action-details {
  color: #{$black-60};
  padding: 0 16px 0 0;
  text-align: center;
}

.schedule-list__action-form {
  padding: 0;
}

.schedule-list__patient-sidebar-icon {
  color: #{$black-60};
}

.schedule-list__action-state {
  margin-right: 12px;
}

.schedule-list__no-time {
  color: #{$black-60};
}

.action-tooltip__flow {
  font-size: 12px;
}

.action-tooltip__flow-icon {
  color: #{$black-60};
  line-height: 16px;
  padding-right: 8px;
  vertical-align: text-bottom;

  .icon {
    font-size: 12px;
    line-height: 12px;
  }

  .fa-square-poll-horizontal {
    width: 16px;
  }
}

.action-tooltip__action-icon {
  color: #{$black-60};
  display: table-cell;
  padding-right: 8px;
  text-align: center;
  width: 16px;
}

.action-tooltip__action-name {
  display: table-cell;
}

.action-tooltip__action-details {
  font-size: 12px;
  margin: 8px 0 0 20px;
}

.schedule-list__patient-name,
.schedule-list__action-form-icon {
  cursor: pointer;

  &:hover {
    color: color(blue);
  }
}

.schedule-list__search-helper {
  display: none;
}
