$five9-color: #237BA9;
$five9-color-hover: #1E678C;
$five9-call-active: color(green);
$five9-call-active-hover: color(green, dark);
$five9-call-ended: color(red);
$five9-call-ended-hover: color(red, dark);

.five9-panel {
  background: white;
  border: 1px solid #{$black-90};
  border-radius: 8px 8px 0 0;
  bottom: 0;
  box-shadow: 0 4px 10px rgb(0 0 0 / 20%);
  height: 36px;
  overflow: hidden;
  position: fixed;
  right: 40px;
  transition: height 0.2s ease;
  width: 300px;

  &.is-open {
    height: 90vh;
  }
}

.five9-panel__header {
  align-items: center;
  background-color: $five9-color;
  border: 0;
  border-radius: 8px 8px 0 0;
  color: white;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  padding: 8px 16px;
  transition: background-color 0.15s;
  transition-timing-function: linear;

  &:hover {
    background-color: $five9-color-hover;
  }

  &.is-call-active {
    background-color: $five9-call-active;

    &:hover {
      background-color: $five9-call-active-hover;
    }
  }

  &.is-call-ended {
    background-color: $five9-call-ended;

    &:hover {
      background-color: $five9-call-ended-hover;
    }
  }
}

.five9-panel__iframe {
  height: 100%;
}
