.worklist-patient-sidebar {
  border-left: 1px solid #{$black-90};
  overflow-y: auto;
  padding: 16px;
  scrollbar-gutter: stable both-edges;
  width: 256px;
}

.worklist-patient-sidebar__user-icon,
.worklist-patient-sidebar__close-icon {
  .icon {
    font-size: 20px;
  }
}

.worklist-patient-sidebar__patient-info {
  cursor: pointer;
  margin-top: 16px;
}

.worklist-patient-sidebar__patient-name {
  font-size: 24px;
  margin-bottom: 8px;
}

.worklist-patient-sidebar__widgets {
  border-top: 1px solid #{$black-90};
  margin-top: 16px;

  .loader {
    margin-top: 60px;
  }
}
