.worklist__type-toggle {
  margin-left: auto;
}

.worklist__table-list {
  grid-template-columns:
    48px
    48px
    minmax(104px, 0.8fr)
    32px
    minmax(104px, 1.4fr)
    minmax(max-content, 2fr)
    minmax(88px, auto);
}

.worklist-list__patient-name:hover {
  color: color(blue);
}

.work-list__item:hover {
  .fa-square {
    color: #{$black-20};
  }
}

.worklist-list__action-icon {
  color: color(blue);

  .icon {
    font-size: 20px;
    width: 20px;
  }
}

.worklist-list__flow-icon .icon {
  color: #{$black-60};
  font-size: 20px;
}

.worklist-list__details-icon {
  color: #{$black-60};
  margin-right: 8px;
  width: 16px;
}

.worklist__action-display-icon {
  color: #{$black-60};
  margin-left: 8px;
}

.worklist__action-display-icon-text {
  margin: 0 8px 0 4px;
}

.worklist-list__action-ts {
  font-size: 12px;
}

.worklist-list__overline {
  color: #{$black-60};
  font-size: 12px;
  line-height: 1.4;
}

.worklist-list__count {
  align-items: center;
  color: #{$black-60};
  display: flex;
  font-size: 12px;
  line-height: 1.2;
  margin-right: 24px;
  white-space: nowrap;
}

.worklist-list__filter-date:not(:empty) {
  margin-right: 16px;
}

.worklist-list__filter-sort .fa-arrow-down-arrow-up {
  margin-right: 8px;
}

.worklist-list__toggle {
  margin-left: auto;
  white-space: nowrap;
}

.worklist-list__flow-progress {
  width: 72px;
}

.worklist-list__filters {
  align-items: center;
  display: flex;
}

.worklist-list__work-name-header {
  grid-column: 2 / 4;
}

.worklist-list__header-span-2 {
  grid-column: span 2;
}

.worklist-list__action-attr-header {
  margin-left: 32px;
}

.worklist-list__all-filters:not(:empty) {
  margin-right: 24px;
}

.worklist-list__filter:not(:empty) {
  margin-right: 8px;
}

.worklist-list__search-helper {
  display: none;
}
