.patient-action__name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
  padding: 8px 0;
}

.patient-action__button {
  color: color(blue);
}

.patient-action__sharing-state {
  border: 1px solid #FFF;
  padding: 4px 16px 8px;

  .icon {
    font-size: 16px;
    line-height: 16px;
    margin-right: 8px;
    position: relative;
    width: 16px;
  }
}

.patient-action__info {
  background-color: #{$highlighted};
  border: 1px solid #{$highlighted};
  border-radius: 4px;
  color: #{$black-20};
  font-size: 12px;
  line-height: 16px;
  max-width: 256px;
  padding: 8px 16px;
}

.patient-action__no-results {
  color: #{$black-80};
  font-size: 16px;
  font-weight: 600;
  margin: 20px auto 8px;
  text-align: center;
}

.patient-action__activity {
  .loader {
    margin-top: 100px;
  }
}

.patient-action__attachment-file {
  display: none;
}

.patient-action__attachment-filename {
  color: color(blue);
  font-weight: 600;
}

.patient-action__attachment-action {
  color: #{$black-60};
  cursor: pointer;
  font-size: 12px;

  &:hover {
    color: color(blue);
  }

  .icon {
    font-size: 12px;
    vertical-align: -0.0825em;
  }
}

.patient-action__activity-item {
  line-height: 14px;
  margin-bottom: 8px;
}
