.program-sidebar {
  padding: 40px 24px 0;
  width: 100%;
}

.program-sidebar__edit {
  color: color(blue);
}

.program-sidebar__header {
  align-items: center;
  display: flex;
  gap: var(--space-2);
}

.program-sidebar__context-menu {
  flex: none;
}

.program-sidebar__name {
  flex: 1;
  font-size: 24px;
  line-height: 1em;
  min-width: 0;
}

.program-sidebar__published {
  color: #{$black};
  font-weight: 600;

  &.is-published {
    color: color(green);
  }

  .icon {
    margin-right: 4px;
  }
}

.program-sidebar__heading {
  color: #{$black-60};
  font-size: 12px;
  margin-top: 8px;

  &:first-child {
    margin-top: 0;
  }
}
