.filters-sidebar .loader {
  min-height: 15vh;
}

.filters-sidebar__clear-filters {
  color: color(blue);
  margin-right: 16px;
  padding: 0;
  vertical-align: baseline;
}

.filters-sidebar__filter-count {
  color: #{$black-60};
  font-size: 12px;
  margin-left: 4px;
  min-width: 2em;
  text-align: right;

  &.is-highlighted {
    color: #{white};
  }
}
