.action-icon {
  color: inherit;
}

.action-icon--black {
  color: #{$black-20};
}

.action-icon--grey {
  color: #{$black-60};
}

.action-icon--red {
  color: color(red);
}

.action-icon--green {
  color: color(green);
}

.action-icon--orange {
  color: color(orange);
}

.action-icon--purple {
  color: color(purple);
}
