.add-workflow__button {
  --button-align-items: center;
  --button-border-width: 0.5px;
  --button-display: inline-flex;
  --button-padding: 5px var(--space-2);
}

.add-workflow__picklist-icon {
  color: color(blue);
}
