.dialer-component__phone-icon {
  color: color(blue);
}

.dialer-component__phone-number {
  white-space: nowrap;
}

.dialer-component__phone-label {
  color: #{$black-60};
  font-size: 12px;
  margin-left: auto;
  text-transform: capitalize;

  .dialer-component__phone-label-call {
    align-items: center;

    .icon {
      font-size: 12px;
      margin: 0 0 2px 4px;
    }
  }
}
